<!DOCTYPE html>
<html>
  <head>
    <title>Mi página de inicio</title>
  </head>
  <body>
    <h1>Hello world! bueno la practica es buena</h1>
    <h2>hay que recordar que: "tu repeticion es tu reputacion"</h2>
  </body>
</html>